html {
  height: 100%;
  // overflow: hidden;
  user-select: none; 
  background-color: #03101f;
}
body {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sub-title{
  width: 480px;
  padding: 10px 48px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: '思源黑体';
  background: url('/imgs/border@2x.png') no-repeat  center / 100% 100%;
}